.donate-button {
  font-family: 'Microsoft Yahei', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: .5em .7em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #3585E4;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 10px #3585E480;
  -webkit-animation-name:fadeIn;
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-delay:0;
}
.donate-button:focus {
  outline: 0;
}
.donate-button:before, .donate-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.donate-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #5fb4fd 20%, transparent 20%), radial-gradient(circle, transparent 20%, #3585E4 20%, transparent 30%), radial-gradient(circle, #3e95e0 20%, transparent 20%), radial-gradient(circle, #abe0ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #abe0ff 15%, transparent 20%), radial-gradient(circle, #3e95e0 20%, transparent 20%), radial-gradient(circle, #3585E4 20%, transparent 20%), radial-gradient(circle, #abe0ff 20%, transparent 20%), radial-gradient(circle, #5fb4fd 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.donate-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #3e95e0 20%, transparent 20%), radial-gradient(circle, #5fb4fd 20%, transparent 20%), radial-gradient(circle, transparent 10%, #5fb4fd 15%, transparent 20%), radial-gradient(circle, #3e95e0 20%, transparent 20%), radial-gradient(circle, #3585E4 20%, transparent 20%), radial-gradient(circle, #3e95e0 20%, transparent 20%), radial-gradient(circle, #3585E4 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.donate-button:active {
  transform: scale(0.97);
  background-color: #2270cc;
  box-shadow: 0 2px 10px #3585E433;
}
.donate-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.donate-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

/* ICON
-------------------------------------------------------------*/
.icono-cup {
    width: 17px;
    height: 13px;
    box-shadow: inset 0 0 0 32px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin: 5px 8px 5px 2px;
}

.icono-cup:before {
    position: absolute;
    right: -3px;
    top: 4px;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 2px
}

.icono-cup:after {
    bottom: -5px;
    width: 26px;
    height: 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 0 0 32px
}

[class*="icono-"] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #fff;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
}

[class*="icono-"]:before,[class*="icono-"]:after {
    content: '';
    pointer-events: none
}