html{height:100%;overflow-x: hidden; overflow-y: hidden;}
body{background:transparent linear-gradient(rgb(167, 254, 254) 47%, rgb(126, 191, 254) 48%,rgb(126, 191, 254) 51%,rgb(125, 254, 191) 52%,rgb(125, 254, 191) 59%,rgb(125, 191, 158) 65%)}
a{text-decoration:none}
.center{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
.wall{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
div#cloud{background:url('cloud.png')repeat 20% 0%;height:47%;z-index:1}
.whilebody{background:#fff;}
.aimg{
 margin:auto;
 position:absolute;
 top:0; left:0; bottom:0; right:0;}
#lrcbox,#lrcbox2{color:#fff;position:absolute;z-index:2}

div#cloud {
    background: url('cloud.png')repeat 20% 0%;
    -webkit-animation: STAR-MOVE 13s ease-in-out 0s infinite;
    -moz-animation: STAR-MOVE 13s ease-in-out 0s infinite;
    -ms-animation: STAR-MOVE 13s ease-in-out 0s infinite;
    animation: STAR-MOVE 13s ease-in-out 0s infinite;
}

@-webkit-keyframes STAR-MOVE {
	 0% {background-position:0% 0%}
	50% {background-position: 2% 0%}
	100% {background-position:0% 0%}
}
@keyframes STAR-MOVE {
	 0% {background-position:0% 0%}
	50% {background-position: 2% 0%}
	100% {background-position:0% 0%}
}